<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Fresh Merb App</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
		<p>
			<a href="/">New Asset</a> | <a href="/assets">All Assets</a>
		</p>
    <%= catch_content :for_layout %>
		<br />
		<br />
		Created by David M Michael in 2008<br />
		<a href="http://unnature.net">Unnature LLC</a><br />
		<a href="http://diversionmedia.com">Diversion Media LLC</a><br />
		Licensed under the same terms as Merb and attachment_fu/attachmerb_fu
  </body>
</html>