---
# This is a sample database file for the DataMapper ORM
:development: &defaults
  :adapter: mysql
  :database: db_dev
  :username: root
  :password: 
  :host: localhost

:test:
  <<: *defaults
  :database: db_test

:production:
  <<: *defaults
  :database: db_prod