<h1>File information</h1>

<p>
<b>Name:</b> <%= @asset.name %><br />
<b>Content-Type:</b> <%= @asset.content_type %><br />
<b>Filename:</b> <%= @asset.filename %><br />
<b>URL:</b> <%= @asset.public_filename %><br />
</p>